$dark-color: #2B3035;
$light-color: #fff;
$dark-color-2: #1a1b1c;
$light-color-2: #ffeba1;
$transparent-color: rgba(0, 0, 0, 0);
$red-color: #EA173E;
$orange-color: #EF4E43;
$softyellow-color: #FFD283;
$purple-color: #7F65FF;
$skyblue-color: #38D1C4;
$pink-color: #F9D7F2;
$yellow-color: #F7C317;